In [1]:
import pandas as pd
import numpy as np

import xgboost as xgb
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [14]:
data = pd.read_csv('Bank_churn.csv')
data

,rownumber,customerid,surname,creditscore,geography,gender,age,tenure,balance,numofproducts,hascrcard,isactivemember,estimatedsalary,churn
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rownumber        10000 non-null  int64
 1   customerid       10000 non-null  int64
 2   surname          10000 non-null  object
 3   creditscore      10000 non-null  int64
 4   geography        10000 non-null  object
 5   gender           10000 non-null  object
 6   age              10000 non-null  int64
 7   tenure           10000 non-null  int64
 8   balance          10000 non-null  float64
 9   numofproducts    10000 non-null  int64
 10  hascrcard        10000 non-null  int64
 11  isactivemember   10000 non-null  int64
 12  estimatedsalary  10000 non-null  float64
 13  churn            10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for column in data.select_dtypes(include=['object']).columns:
    data[column] = le.fit_transform(data[column])

correlation_matrix = data.corr()

target_correlations = correlation_matrix['churn']
positive_correlations = target_correlations[target_correlations > 0].index
positive_features = positive_correlations.drop('churn')
filtered_df = data[positive_features]
filtered_df = filtered_df.join(data['churn'])

print(filtered_df.head(1))
print(filtered_df.columns)

from sklearn.model_selection import train_test_split

X = filtered_df.drop('churn', axis=1)  
y = data['churn'] 

import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = xgb.XGBClassifier(eval_metric='logloss')

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

# Display results
print(f"Accuracy: {accuracy:.2f}")
print("Confusion Matrix:")
print(conf_matrix)
print("Classification Report:")
print(class_report)

   geography  age  balance  estimatedsalary  churn
0          0   42      0.0        101348.88      1
Index(['geography', 'age', 'balance', 'estimatedsalary', 'churn'], dtype='object')
Accuracy: 0.82
Confusion Matrix:
[[1504  103]
 [ 264  129]]
Classification Report:
              precision    recall  f1-score   support

           0       0.85      0.94      0.89      1607
           1       0.56      0.33      0.41       393

    accuracy                           0.82      2000
   macro avg       0.70      0.63      0.65      2000
weighted avg       0.79      0.82      0.80      2000

In [10]:
model.save_model('model1.json')